@charset "UTF-8";

.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 250px;
    top: 300px;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    top: 100px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    left: 592px;
    top: 220px;
  }
